<!DOCTYPE html>

<html lang="en">
    <head>
        @await Html.PartialAsync("MetatagsPartial")
        @await Html.PartialAsync("CssPartial")
        @Html.AntiForgeryToken()
    </head>
    <body class="is-preload">
        @await Html.PartialAsync("HeaderPartial")

        @RenderBody()

        @await Html.PartialAsync("FooterPartial")
        @await Html.PartialAsync("ScriptsPartial")
    </body>
</html>