<!DOCTYPE html>

<html lang="en">
    <head>
        @await Html.PartialAsync("MetatagsPartial")
        @await Html.PartialAsync("CssPartial")
        @Html.AntiForgeryToken()
    </head>
    <body class="is-preload">
        @await Html.PartialAsync("HeaderPartial")
        @* <div id="page-wrapper"> *@
            @RenderBody()

            @await Html.PartialAsync("FooterPartial")
        @* </div> *@

        @await Html.PartialAsync("ScriptsPartial")
    </body>
</html>