<!DOCTYPE html>

<html lang="en">
    <head>
        @await Html.PartialAsync("Partials/_MetatagsPartial")
        @await Html.PartialAsync("Partials/_CssPartial")
        @Html.AntiForgeryToken()
    </head>
    <body class="is-preload">
        @await Html.PartialAsync("Partials/_HeaderPartial")

        @RenderBody()

        @await Html.PartialAsync("Partials/_FooterPartial")
        @await Html.PartialAsync("Partials/_ScriptsPartial")
        @RenderSection("Scripts", required: false)
    </body>
</html>