@using MVC_ASP.NET_Core_Learn.ViewModels
@model LoginViewModel

@{
    ViewData["Title"] = "Вхід";
}

<div id="main" class="wrapper style1">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-3">
                <div class="row">
                    <div class="col-md-8 offset-2">
                        <p>
                            <h3>Log into your account</h3>
                        </p>
                        @if (TempData["Error"] != null)
                        {
                            <div class="col-md-12 alert alert-danger">
                                <span class="text-danger fw-bold">@TempData["Error"]</span>
                            </div>
                        }
                        <form asp-action="Login">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="EmailAddress" class="control-label"></label>
                                <input asp-for="EmailAddress" class="form-control">
                                <span asp-validation-for="EmailAddress" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" class="form-control" />
                                <input id="showPassword" type="checkbox" onchange="togglePasswordVisibility('Password')">
                                <label for="showPassword">Show Password</label>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <br/>
                            <div class="form-group">
                                <input class="button primary" type="submit" value="Log in" />
                                <a class="button" asp-controller="Home" asp-action="Index">Cancel</a>
                            </div>
                        </form>
                        <a class="btn btn-outline-secondary" a asp-controller="Account" asp-action="Register">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>