@model MVC_ASP.NET_Core_Learn.ViewModels.UserDetailViewModel

@{
    ViewData["Title"] = "Мій аккаунт";
}

<div class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2> Профіль</h2>
        </header>

        <!-- Модальне підтвердження видалення -->
        <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body text-black mx-auto">
                        Ви впевнені, що хочете видалити аккаунт?
                    </div>
                    <div class="modal-footer mx-auto">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Скасувати</button>
                        <a class="btn btn-primary" id="confirmDelete" asp-controller="Account" asp-action="Delete">Видалити</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Данні про користувача -->
        <div class="row justify-content-center">
            <div class="col-auto">
                <div>
                    <p><b>Логін:</b> @Model.UserName</p>
                    <p><b>Пошта:</b> @Model.Email</p>

                    <p>
                        <b>Баланс:</b> @Model.Balance ₴
                        <a class="btn btn-success" asp-action="ReplenishBalance">
                            <i class="fas fa-coins"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <!-- Кнопки виходу/видалення для користувача -->
        <div class="d-flex justify-content-center">
            <div class="btn-group-vertical d-flex">
                <a asp-controller="Account" asp-action="LogOut" class="btn btn-outline-primary mb-2 flex-fill">
                    Вийти з аккаунту
                </a>

                <!-- Кнопка-триггер модального підтвердження видалення -->
                <a class="btn btn-outline-light mb-2 flex-fill" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal">
                    Видалити аккаунт
                </a>
            </div>
        </div>
    </div>
</div>