@model Deposit
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="main" class="wrapper style1">
	<div class="container">
		<!-- Content -->
		<section id="content">
			<h2>Оформлення депозиту</h2>
			<h4>Оберіть ставку та умови договору:</h4>
			<section id="first-step">
				@* <div class="row gtr-uniform gtr-50"> *@
				@if (Model.InterestRateNoEarlyClosure != null)
				{
					<div class="col-4 col-12-medium">
						<input type="radio" id="priority-low" name="priority" checked="">
						<label for="priority-low">
							@Model.InterestRateNoEarlyClosure% річних<br />
							для вкладу без дострокового розривання
						</label>
					</div>
				}

				@if (Model.InterestRateEarlyClosure != null)
				{
					<div class="col-4 col-12-medium">
						<input type="radio" id="priority-normal" name="priority">
						<label for="priority-normal">
							@Model.InterestRateEarlyClosure% річних<br />
							для вкладу з достроковим розриванняи
						</label>
					</div>
				}
				<a href="#" class="button primary" onclick="showNextStep()">Далі</a>
				@* </div> *@
			</section>
			<section id="second-step" style="display: none;">
				<h4>Вибраний депозит:</h4>
				<div style="display: flex;">
					<div>Назва: </div>
					<div style="padding-left: 10px;"> @Model.Title </div>
				</div>
				<div style="display: flex;">
					<div>Ставка:</div>
					<div style="padding-left: 10px;">
						<div>
							<div>3% річних </div>
							<div>для вкладу без дострокового розривання</div>
						</div>
					</div>
				</div>
				<hr>

				<div>Виберіть строк</div>
				<div style ="display: flex; margin-top: 10px">
					<b>Строк(місяць):</b>
					<div style="display: flex; margin-left: 20px">
						@{
							int index = 1;
							foreach (var item in Model.Term)
							{
								<div class="col-4 col-12-medium">
									<input type="radio" id="term@(index)" name="priority">
									<label for="term@(index)">
										@item.NumberMonths
									</label>
								</div>
								index++;
							}
						}
					</div>
				</div>

				<hr>
				<h4>Дані для оформлення:</h4>
				<h6>Введіть суму</h6>
				<div style="display: flex; align-items: center;">
					<div class="col-6 col-12-xsmall">
						<input type="text" name="name" id="name" value="" placeholder="100.00">
					</div>
					<p style="margin: 0 0 0 10pt;">UAH</p>
				</div>
			</section>
		</section>
	</div>
</div>

<script>
	function showNextStep() {
		document.getElementById("first-step").style.display = "none";
		document.getElementById("second-step").style.display = "block";
		document.getElementById("term1").checked = true;
	}
</script>