@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="main" class="wrapper style1 text-danger ">
    <div class="d-flex align-items-center flex-column mt-5">
        <img src="/images/icons/SadSmile.png" alt="Sad smile" />
        <h2 class="text-danger mb-0">
            404
        </h2>
        <h2 class="text-danger mb-3">
            PAGE NOT FOUND
        </h2>
        <div class="container-xsmall">
            <h3 class="text-center text-danger ">
                    This page you are looking for doesn't exist or an other error occurred.<br />
                    Go back, or head over to Home page to choose a new direction
            </h3>
        </div>
    </div>
</div>
