@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="main" class="wrapper style1 text-danger ">
    <div class="d-flex align-items-center flex-column mt-5">
        <img src="/images/icons/SadSmile.png" alt="Sad smile" />
        <h2 class="text-danger mb-0">
            404
        </h2>
        <h2 class="text-danger mb-3">
            СТОРІНКА НЕ ЗНАЙДЕНА
        </h2>
        <div class="container-xsmall">
            <h3 class="text-center text-danger ">
                Ця сторінка, яку ви шукаєте, не існує або сталася інша помилка.<br />
                Можете повернутися на минулу або перейти на домашню сторінку
            </h3>
        </div>
    </div>
</div>
