 <!-- Header -->
<header id="header">
    <h1 id="logo">
        <a asp-controller="Home" asp-action="Index">StashSpot</a>
        <img src="/images/icons/StashSpotIcon.svg" alt="StashSpotIcon" />
    </h1>
    <nav id="nav">
        <ul>
            <li>
                <a href="#">Layouts</a>
                <ul>
                    <li><a href="left-sidebar.html">Left Sidebar</a></li>
                    <li><a href="right-sidebar.html">Right Sidebar</a></li>
                    <li><a href="no-sidebar.html">No Sidebar</a></li>
                    <li>
                        <a href="#">Submenu</a>
                        <ul>
                            <li><a href="#">Option 1</a></li>
                            <li><a href="#">Option 2</a></li>
                            <li><a href="#">Option 3</a></li>
                            <li><a href="#">Option 4</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a asp-controller="DepositTemplate" asp-action="Index">Deposits</a></li>
            @if (User.Identity.IsAuthenticated)
            {
                <li><a asp-controller="UserDeposit" asp-action="All">Wallet</a></li>
                <li><a asp-controller="User" asp-action="About" class="button">Profile</a></li>
            }
            else
            {
                <li><a asp-controller="Account" asp-action="Login" class="button">Sign In</a></li>
            }
        </ul>
    </nav>
</header>